<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (messages.error) { %>
    <p style="color: red"><%= messages.error %></p>
    <% } %> <% if (user) {%>
    <h1>
      Welcome back, you are logged as <%= user.name %> <%= user.surname %>
    </h1>
    <a href="/login/logout">Log out</a>
    <a href="/new-message">Post New Message</a>
    <%- include("./partials/message-board.ejs") %> <% } else { %>
    <h1>Please Log In</h1>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="text" name="password" id="password" />
      <button type="submit">Log in</button>
    </form>
    <p>Not a User? <a href="/sign-up">Sign Up</a></p>
    <%- include("./partials/message-board.ejs") %> <%}%>
  </body>
</html>
